extends ../layout

block content
    h1= event.get('title')
    h6.event-subscript Posted by #{event.related('createdBy').get('name')}
    if instructors && instructors.length > 0
        h6.event-subscript Instructors:
            ul
                each instructor, index in instructors.models
                    if index === 0
                        li.event-instructor-list
                            a(href="/users/" + instructor.get('id'))= instructor.get('name')
                    else
                        li.event-instructor-list |
                            a(href="/users/" + instructor.get('id'))= instructor.get('name')
    h6.event-subscript Checkins: #{event.get('countCheckIns')}
    p= event.get('description')

    if authedUser && (authedUser.get('level') === 'instructor' || authedUser.get('level') === 'admin')
        a(href="/events/" + event.get('id') + "/edit") edit
        form(method="Post" action="/events/" + event.get('id') + "/delete")
            button(type="submit") delete
