nav.navbar.navbar-inverse.bg-inverse.rounded.navbar-toggleable-md
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#containerNavbar', aria-controls='containerNavbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    a.navbar-brand(href='/') Attendance Tracker
    #containerNavbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/users')
                    i.fa.fa-users
                    |  Users
            li.nav-item
                a.nav-link(href='/events')
                    i.fa.fa-graduation-cap
                    | Events
        form.form-inline.my-2.my-md-0
            // input.form-control.mr-sm-2(type='text', placeholder='Search')
            if authedUser
                a.btn.btn-outline-success.my-2.my-sm-0(href='/events') Register for class
                a.btn.btn-outline-success.my-2.my-sm-0(href='/users/logout') Logout
            else
                a.btn.btn-outline-success.my-2.my-sm-0(href='/users/login') Login
                a.btn.btn-outline-success.my-2.my-sm-0(href='/users/signup') Signup
