extends ../layout

block content

  div(class="container form")
    div(class="row")
      div(class="col-md-2")
      div(class="col-md-8")
        h2 Register a new course

        form(method="Post" action="/courses/create" data-parsley-validate="")
          div(class="form-group")
            label(for="title") Name
            input(class="form-control" type="text" name="title" id="title" required="" data-parsley-minlength="10" data-parsley-maxlength="40")
            label(for="description") Description
            textarea(class="form-control" name="description" id="description" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold="10")
            input(class="btn btn-success" type="submit")
