extends ../layout

block content
    h2
        i.fa.fa-graduation-cap
        |  Courses
    hr

    if authedUser && (authedUser.get('level') === 'instructor' || authedUser.get('level') === 'admin')
        .text-right
            a.btn.btn-primary(href='/courses/create')
                i.fa.fa-plus
                |  New Course

    for course in courses
        .card.my-3
            .card-block
                h4.card-title= course.get('title')
                h6.card-subtitle.mb-2.text-muted= `Created by ${course.get('createdBy') || 'unknown'} at ${course.get('createdAt') || 'unknown'}`
                p.card-text= course.get('description')
                a.card-link(href="/courses/" + course.get('id'))
                    button Details
                a.card-link(href='#')
                    button Schedule
                if authedUser && !checkedIn
                    form.course-index-checkin.card-link(method="Post" action="/courses/" + course.get('id') + "/checkin")
                        button(type="submit") Register
