doctype html
html
    head
        title= title
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        link(rel='apple-touch-icon', sizes='180x180', href='/images/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon-16x16.png')
        link(rel='manifest', href='/images/manifest.json')
        link(rel='mask-icon', href='/images/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='theme-color', content='#ffffff')
        script(type='text/javascript', src='../javascripts/shared.js')
    body
        .container.mt-5
            include includes/header

        main.container.my-3
            block content

        .container
            include includes/footer
