doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul
        li
          a(href="/users")
            h4 ltc_leaders
        li 
          a(href="/users/signup") signup
        li 
          a(href="/users/signup") signin

  main

    block content
