doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    script(type='text/javascript' src='../javascripts/shared.js')
  body
    nav 
      ul
        li
          a(href="/users")
            h4 ltc_leaders
        li 
          a(href="/users/signup")
            p role call

  main

    block content
