doctype html
html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='../javascripts/shared.js')
  body
    nav 
      ul
        li
          a(href="/users")
            h4 ltc_leaders
        li 
          a(href="/users/signup")
            p role call

  main

    block content
