extends ../layout

block content
  div(class="container")
    div(class="row")
      div(class="col-md-2")
      div(class="col-md-8")
        h2 I attended class today
        container.alert-wrap
          - if(success) {
          .alert.alert-success
            strong Success! #{success}
          - } else if (error) {
          .alert.alert-danger
            strong Error! #{error}          
          - }
        
        form(method="Post" action="/users/signup")
          div(class="form-group")
            label(for="name") Name
            input(class="form-control" type="text" name="name" id="name")
            label(for="email") Email
            input(class="form-control" type="email" name="email" id="email")
            input(class="btn btn-success" type="submit")
      div(class="col-md-2")
